/* Carousel Header */

.carousel-paw {
    width: 5rem;
    height: 5rem;
    filter: invert(52%) sepia(7%) saturate(3082%) hue-rotate(150deg) brightness(99%) contrast(99%);
}

#carousel-left-paw {
    transform: rotate(-90deg);
}

#carousel-right-paw {
    transform: rotate(90deg);
}

/* Section Mision Vision */

.paw-img{
    width: 20%;
    height: 20%;
}

.bg-beige{
    background-color: var(--beige);
}
