@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

:root {
    --beige: #FFF1DC;
    --brown: #BDA692;
    --blue: #3A98B9;
    --gray: #EEEEEE;
    --purple: #73628A;
}

body {
    background-color: var(--gray);
    font-size: 1.5rem;
    font-family: 'Signika Negative', sans-serif;
}

nav, footer {
    background-color: var(--beige);
    color: var(--brown);
}

nav {
    border-bottom: .5rem solid var(--brown);
}

footer {
    border-top: .5rem solid var(--brown);
}

#nav-icon {
    width: 15rem;
}

.nav-link {
    color: var(--brown);
}

.nav-link:hover, .nav-link:active, .active {
    color: var(--blue) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous';
}

.bi {
    font-size: 3rem;
}