@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

:root {
    --beige: #FFF1DC;
    --brown: #BDA692;
    --light-blue: #b5c3ff;
    --blue: #3A98B9;
    --light-gray: #f8f8f8;
    --gray: #eeeeee;
    --dark-gray: #333333;
    --light-purple: #d3b3fd;
    --purple: #73628A;
    --white: white;
    --black: black;

    /* Cursor icons */
    --cursor-click: url("../img/icons/click.svg");
    --cursor-arrow: url("../img/icons/arrow.svg");
    --cursor-left: url("../img/icons/fast-backward-button.svg");
    --cursor-right: url("../img/icons/fast-forward-button.svg");

    --cursor-click-light: url("../img/icons/click-light.svg");
    --cursor-arrow-light: url("../img/icons/arrow-light.svg");
    --cursor-left-light: url("../img/icons/fast-backward-button-light.svg");
    --cursor-right-light: url("../img/icons/fast-forward-button-light.svg");

    --light-blue-filter: invert(66%) sepia(43%) saturate(520%) hue-rotate(154deg) brightness(103%) contrast(98%);
    --blue-filter: invert(52%) sepia(7%) saturate(3082%) hue-rotate(150deg) brightness(99%) contrast(99%);
}

* {
    cursor: var(--cursor-arrow), auto;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    font-size: calc(0.75rem + 1vw);
    font-family: 'Signika Negative', sans-serif;
    margin-top: calc(3rem + 4vw);
}

main {
    min-height: calc(80vh + 1vw);
}

input, textarea {
    cursor: text;
}

.form-check-input,
.form-check-label,
.form-label b {
    cursor: var(--cursor-click), auto;
}

/* Toast styles */

.toast-container {
    width: 35%;
}

@media only screen and (max-width: 768px) {
    .toast-container {
        width: 100%;
    }
}

#toast {
    font-family: 'Signika Negative', sans-serif;
    font-size: calc(0.75rem + 1vw);
}

#toast i {
    cursor: var(--cursor-click), auto;
}

.toast-success {
    background-color: #9deda1;
}

.toast-error {
    background-color: #ed9d9d;
}

.toast-info {
    background-color: #9dbeed;
}

/* Navbar and footer styles */

nav, footer {
    background-color: var(--beige);
    color: var(--brown);
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.nav-opaque {
    opacity: 0.9;
    transition: opacity 0.5s ease;
}

footer h2 {
    font-size: calc(.75rem + 1vw) !important;
}

footer .bi {
    font-size: calc(2rem + 1vw) !important;
}

#indicator-container,
#indicator-container-mobile {
    color: var(--purple);
}

#indicator-circle,
#indicator-circle-mobile {
    background-color: var(--purple);
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

#indicator-circle-mobile {
    width: 0.75rem;
    height: 0.75rem;
}

/* Pet Mode Switch */

.toggle-label {
    font-family: 'Righteous';
    color: var(--blue);
}

.pet-switch {
    background-color: var(--blue);
    border-color: var(--blue);
}

.pet-switch:focus {
    box-shadow: 0 0 0 0 transparent;
}

.pet-switch:checked {
    background-color: var(--purple);
    border-color: var(--purple);
}

nav {
    border-bottom: .5rem solid var(--brown);
}

nav .bi {
    font-size: calc(1rem + 2vw);
    padding: 0;
}

footer {
    border-top: .5rem solid var(--brown);
}

#nav-icon {
    width: calc(5rem + 20vw);
}

.nav-link {
    color: var(--brown);
}

/* .active */
.nav-link:hover, .nav-link:active {
    color: var(--blue) !important;
}

.nav-link:hover,
.nav-link b:hover,
.navbar-brand img:hover {
    cursor: var(--cursor-click), auto;
}

.toggle-button {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.image:hover {
    cursor: var(--cursor-click), auto;
}

.toggle-button input {
    display: none;
}

.slider {
    position: relative;
    width: 5rem;
    height: calc(3rem + 2vw);
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sun {
    background-image: url('../img/dog-face.png'); /* Image for the sun */
    opacity: 1;
}

.moon {
    background-image: url('../img/cat-face.png'); /* Image for the moon */
    opacity: 0;
}

input:checked + .slider .sun {
    opacity: 0;
}

input:checked + .slider .moon {
    opacity: 1;
}
  

/* Navbar Shopping Cart Counter */

.shopping-cart {
    display: inline-block;
}

.shopping-cart .shopping-cart-counter {
    position: absolute;
    top: calc(1.5rem + 2vw);
    right: calc(3rem + 2vw);
    padding: calc(0.1rem + 0.1vw) calc(0.35rem + 0.25vw);
    border-radius: 50%;
    background: var(--purple);
    color: var(--light-gray);
    font-size: calc(0.5rem + 0.5vw);
}

.not-register-form-container{
    font-size: calc(1rem + 0.5vw);
}

@media (max-width: 767.98px) {
    .shopping-cart .shopping-cart-counter {
        top: calc(16rem + 10vw);
        right: 45vw;
        padding: calc(0.1rem + 0.1vw) calc(0.4rem + 0.4vw);
        font-size: calc(0.5rem + 1.5vw);
    }

    nav .bi {
        font-size: calc(2rem + 2vw);
    }
}

/* Titles, icons and squares styles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous';
}

.bi {
    font-size: 3rem;
}

.bg-beige{
    background-color: var(--beige);
    border: 0.25rem solid var(--brown);
    border-radius: 1rem;
    padding: calc(0.5rem + 2vw);
}

.section-blue-title,
.section-purple-title {
    color: var(--white);
    text-align: center;
    padding: 1rem 0;
}

.section-blue-title {
    background-color: var(--blue);
}

.section-purple-title {
    background-color: var(--purple);
}

/* Carousel styles */

.carousel-text-shadow {
    text-shadow: 0 0 0.25rem black;
    color: var(--light-gray);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: var(--blue-filter);
    background-image: url("../img/Paw.png");
    width: calc(1rem + 3vw);
    height: calc(1rem + 3vw);
}

.carousel-control-prev-icon {
    transform: rotate(-90deg);
}

.carousel-control-prev-icon:hover {
    transform: scale(1.4) rotate(-90deg);
}

.carousel-control-next-icon {
    transform: rotate(90deg);
}

.carousel-control-next-icon:hover {
    transform: scale(1.4) rotate(90deg);
}

.carousel-control-prev:hover,
.carousel-control-prev-icon:hover {
    cursor: var(--cursor-left), auto;
}

.carousel-control-next:hover,
.carousel-control-next-icon:hover {
    cursor: var(--cursor-right), auto;
}

/*  Buttons Styles */

.btn-blue,
.btn-purple {
    transition: all 0.25s;
    color: var(--white) !important;
    border-radius: 5rem;
    font-size: calc(1rem + 1vw);
    padding: 0.5rem 2rem;
}

.btn-purple, 
.btn-purple:hover,
.btn-purple:active {
    background-color: var(--purple) !important;
}

.btn-blue, 
.btn-blue:hover,
.btn-blue:active {
    background-color: var(--blue) !important;
}

.btn-blue:hover,
.btn-purple:hover {
    transform: scale(1.1);
    cursor: var(--cursor-click), auto;
}

.btn-blue:active,
.btn-purple:active {
    transform: scale(1);
}

/* Beige style form inputs */

.form-control {
    transition: all 0.25s;
    background-color: var(--gray);
    border: 0.25rem solid var(--brown);
    border-radius: 0.75rem;
    font-size: calc(0.75rem + 0.75vw);
}

.form-control::placeholder {
    color: gray;
}

.form-control:focus {
    background-color: var(--gray);
    border: 0.25rem solid var(--brown);
    box-shadow: 0 0 1rem var(--brown);
    transform: scale(1.05);
}

/* Password with icon */

.password-span {
    background-color: var(--gray);
    border: 0.25rem solid var(--brown);
    border-radius: 0.75rem;
}

.form-password,
.form-password:focus {
    border-right: none;
}

.password-span,
.password-span:focus {
    border-left: none;
}

.password-icon {
    font-size: calc(1rem + 1.25vw);
    color: var(--brown);
}

.password-input-group {
    transition: all 0.25s;
}

.password-input-group:focus-within {
    transform: scale(1.05);
    box-shadow: 0 0 1rem var(--brown);
    border-radius: 0.75rem;
}

.form-password:focus {
    transform: scale(1);
    background-color: var(--gray);
    box-shadow: none;
}

/* Hiding number input arrows */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Valid - Invalid forms */

.valid {
    border-color: var(--blue) !important;
}

.valid:focus {
    border-color: var(--blue) !important; 
    box-shadow: 0 0 1rem var(--blue) !important;
}

.valid-feedback {
    color: var(--purple); 
}

.input-icon-valid {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="500px" height="500px" fill-rule="nonzero"><g fill="%233a98b9" fill-rule="nonzero" stroke="%233a98b9" stroke-width="6" stroke-linecap="butt" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path transform="scale(5.12,5.12)" d="M43.78125,9.64453c0.37109,0.66406 0.33594,1.47656 -0.09375,2.10547l-20.09375,30.6875c-0.3125,0.48047 -0.81641,0.80469 -1.38672,0.89063c-0.56641,0.08203 -1.14453,-0.08203 -1.58203,-0.45312l-13.9375,-12.0625c-0.60937,-0.44922 -0.91016,-1.19922 -0.78516,-1.94531c0.125,-0.74219 0.66016,-1.35156 1.37891,-1.57422c0.72266,-0.22656 1.50781,-0.02344 2.03125,0.51953l12.1875,10.53125l18.8125,-28.78125c0.35156,-0.5625 0.96094,-0.91406 1.625,-0.9375c0.75781,-0.03516 1.47266,0.35938 1.84375,1.01953z" id="strokeMainSVG"></path></g><g fill="%233a98b9" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M41.9375,8.625c-0.66406,0.02344 -1.27344,0.375 -1.625,0.9375l-18.8125,28.78125l-12.1875,-10.53125c-0.52344,-0.54297 -1.30859,-0.74609 -2.03125,-0.51953c-0.71875,0.22266 -1.25391,0.83203 -1.37891,1.57422c-0.125,0.74609 0.17578,1.49609 0.78516,1.94531l13.9375,12.0625c0.4375,0.37109 1.01563,0.53516 1.58203,0.45313c0.57031,-0.08594 1.07422,-0.41016 1.38672,-0.89062l20.09375,-30.6875c0.42969,-0.62891 0.46484,-1.44141 0.09375,-2.10547c-0.37109,-0.66016 -1.08594,-1.05469 -1.84375,-1.01953z"></path></g></g></svg>');
    background-position: 98% 50%;
    background-size: calc(0.75rem + 1vw) calc(0.75rem + 1vw);
    background-repeat: no-repeat;
}

.invalid {
    border-color: var(--purple) !important; 
}
  
.invalid:focus {
    border-color: var(--purple) !important; 
    box-shadow: 0 0 1rem var(--purple) !important;
}

.invalid-feedback {
    color: var(--blue); 
}

.input-icon-invalid {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="384px" height="384px" fill-rule="nonzero"><g fill="%2373628a" fill-rule="nonzero" stroke="%2373628a" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path transform="scale(10.66667,10.66667)" d="M5.70703,4.29297l6.29297,6.29297l6.29297,-6.29297c0.18112,-0.18641 0.4277,-0.29499 0.6875,-0.30273c0.41228,-0.01216 0.78974,0.23004 0.9505,0.60988c0.16075,0.37985 0.07183,0.81942 -0.22393,1.10691l-6.29297,6.29297l6.29297,6.29297c0.26124,0.25082 0.36648,0.62327 0.27512,0.97371c-0.09136,0.35044 -0.36503,0.62411 -0.71547,0.71547c-0.35044,0.09136 -0.72289,-0.01388 -0.97371,-0.27512l-6.29297,-6.29297l-6.29297,6.29297c-0.25082,0.26124 -0.62327,0.36647 -0.97371,0.27511c-0.35044,-0.09136 -0.62411,-0.36503 -0.71547,-0.71547c-0.09136,-0.35044 0.01388,-0.72289 0.27511,-0.97371l6.29297,-6.29297l-6.29297,-6.29297c-0.29161,-0.28381 -0.38219,-0.71601 -0.22907,-1.09303c0.15312,-0.37701 0.51941,-0.62366 0.92633,-0.62377c0.27,0.00002 0.52853,0.1092 0.7168,0.30273z" id="strokeMainSVG"></path></g><g fill="%2373628a" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M4.99023,3.99023c-0.40692,0.00011 -0.77321,0.24676 -0.92633,0.62377c-0.15312,0.37701 -0.06255,0.80921 0.22907,1.09303l6.29297,6.29297l-6.29297,6.29297c-0.26124,0.25082 -0.36647,0.62327 -0.27511,0.97371c0.09136,0.35044 0.36503,0.62411 0.71547,0.71547c0.35044,0.09136 0.72289,-0.01388 0.97371,-0.27511l6.29297,-6.29297l6.29297,6.29297c0.25082,0.26124 0.62327,0.36648 0.97371,0.27512c0.35044,-0.09136 0.62411,-0.36503 0.71547,-0.71547c0.09136,-0.35044 -0.01388,-0.72289 -0.27512,-0.97371l-6.29297,-6.29297l6.29297,-6.29297c0.29576,-0.28749 0.38469,-0.72707 0.22393,-1.10691c-0.16075,-0.37985 -0.53821,-0.62204 -0.9505,-0.60988c-0.2598,0.00774 -0.50638,0.11632 -0.6875,0.30273l-6.29297,6.29297l-6.29297,-6.29297c-0.18827,-0.19353 -0.4468,-0.30272 -0.7168,-0.30273z"></path></g></g></svg>');
    background-position: 98% 50%;
    background-size: calc(0.75rem + 1vw) calc(0.75rem + 1vw);
    background-repeat: no-repeat;
}

/* Valid e invalid styles for password */

.invalid-password:focus-within {
    border-color: var(--purple) !important; 
    box-shadow: 0 0 1rem var(--purple) !important;
}

.invalid-password-border {
    border: 0.25rem solid var(--purple);
    border-right: none;
}

.invalid-password-border:focus {
    border: 0.25rem solid var(--purple);
    border-right: none;
}

.valid-password:focus-within {
    border-color: var(--blue) !important; 
    box-shadow: 0 0 1rem var(--blue) !important;
}

.valid-password-border {
    border: 0.25rem solid var(--blue);
    border-right: none;
}

.valid-password-border:focus {
    border: 0.25rem solid var(--blue);
    border-right: none;
}

/* Loading animation */
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.25), rgba(0, 0, 0, .25));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.25), rgba(0, 0, 0,.25));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }