@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

:root {
    --beige: #FFF1DC;
    --brown: #BDA692;
    --blue: #3A98B9;
    --gray: #EEEEEE;
    --purple: #73628A;
}

body {
    background-color: var(--gray);
    font-size: calc(0.75rem + 1vw);
    font-family: 'Signika Negative', sans-serif;
    overflow-x: hidden;
}

/* Navbar and footer styles */

nav, footer {
    background-color: var(--beige);
    color: var(--brown);
}

nav {
    border-bottom: .5rem solid var(--brown);
}

footer {
    border-top: .5rem solid var(--brown);
}

#nav-icon {
    width: 15rem;
}

.nav-link {
    color: var(--brown);
}

.nav-link:hover, .nav-link:active, .active {
    color: var(--blue) !important;
}

/* Titles, icons and squares styles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous';
}

.bi {
    font-size: 3rem;
}

.bg-beige{
    background-color: var(--beige);
    border: 0.25rem solid var(--brown);
}

.section-blue-title,
.section-purple-title {
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.section-blue-title {
    background-color: var(--blue);
}

.section-purple-title {
    background-color: var(--purple);
}

/* Carousel styles */

.carousel-text-shadow {
    text-shadow: 0 0 0.25rem black;
    color: var(--gray);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(52%) sepia(7%) saturate(3082%) hue-rotate(150deg) brightness(99%) contrast(99%);
    background-image: url("../img/about/Paw.png");
    width: 3rem;
    height: 3rem;
}

.carousel-control-prev-icon {
    transform: rotate(-90deg);
}

.carousel-control-prev-icon:hover {
    transform: scale(2) rotate(-90deg);
}

.carousel-control-next-icon {
    transform: rotate(90deg);
}

.carousel-control-next-icon:hover {
    transform: scale(2) rotate(90deg);
}

/*  Buttons Styles */

.btn-blue,
.btn-purple {
    color: var(--gray) !important;
    transition: all 0.5s;
    border-radius: 5rem;
    font-size: calc(1rem + 1vw);
    padding: 0.5rem 2rem;
    opacity: 0.75;
    filter: brightness(125%);
}

.btn-blue:hover,
.btn-purple:hover,
.btn-purple:active,
.btn-blue:active {
    opacity: 1;
    filter: brightness(100%);
}

.btn-purple, 
.btn-purple:hover,
.btn-purple:active {
    background-color: var(--purple) !important;
}

.btn-blue, 
.btn-blue:hover,
.btn-blue:active {
    background-color: var(--blue) !important;
}

.btn-purple:active,
.btn-blue:active {
    filter: brightness(75%);
}

/* Beige style form inputs */

.form-control {
    background-color: var(--gray);
    border: 0.25rem solid var(--brown);
    border-radius: 0.75rem;
    font-size: calc(0.75rem + 0.75vw);
}

.form-control::placeholder {
    color: var(--brown);
}

.form-control:focus {
    background-color: var(--gray);
    border: 0.25rem solid var(--brown);
    box-shadow: 0 0 1rem var(--brown);
}

/* Hiding number input arrows */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}