/* Beige style for inputs */

.form-control {
    background-color: var(--beige);
    border: 0.25rem solid var(--brown);
    border-radius: 0.75rem;
    font-size: calc(0.5rem + 0.5rem);
}

.form-control::placeholder {
    color: var(--brown);
}

.form-control:focus {
    background-color: var(--beige);
    border: 0.25rem solid var(--brown);
    box-shadow: 0 0 1rem var(--brown);
}

/* Hiding number input arrows */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}