.box-card {
    position: relative;
    height: 25rem;
    min-width: 20rem;
    overflow: hidden;
    border: 0.25rem solid var(--brown);
    background-size: cover;
}

.bg-products-dogs{
    background-image: url("../img/index/little-with-collar.jpg");
}

.bg-products-cats{
    background-image: url("../img/index/black-cat-with-collar.jpg");
}

.title-content {
    height: 120%;
    top: -6.25rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.568) 5%, rgba(255, 255, 255, 0) 25%);
    transition: 0.3s;
}

.title-content:hover,
.title-content h2:hover {
    cursor: var(--cursor-click), auto;
}

.box-card:hover .title-content {
    top: 0;
    backdrop-filter: blur(1px);
}

@media only screen and (max-width: 768px) {
    .title-content {
        top: 0;
    }
}

/* Order created styles */

#order-container {
    position: fixed;
    width: 100%;
    background: radial-gradient(circle, rgba(114, 15, 176, 0) 0%, rgba(0,0,0,0.48923319327731096) 86%);
    height: 100%;
    z-index: 6;
    backdrop-filter: blur(3px);
}

.pop--hidden{
    display: none;
}

.pop--unhidden{
    display: flex;
}