.box-card {
    position: relative;
    height: 25rem;
    min-width: 20rem;
    overflow: hidden;
    border: 0.25rem solid rgba(189, 166, 146, 0.767);
    background-size: cover;
}

.bg-products-dogs{
    background-image: url("../img/index/little-with-collar.jpg");
}

.bg-products-cats{
    background-image: url("../img/index/black-cat-with-collar.jpg");
}

.title-content {
    position: absolute;
    width: 100%;
    height: 50%;
    top: -6.25rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.568) 0%, rgba(114,15,176,0) 35%);
    transition: 0.3s;
}

.box-card:hover .title-content {
    top: 0;
}

@media only screen and (max-width: 768px) {
    .title-content {
        top: 0;
    }
  }