

.form-container{
    background-color: var(--beige);
    border: 0.25rem solid var(--brown);
    border-radius: 1rem;
    overflow: hidden;
}

.dog-searching{
    overflow: hidden;
}

.dog-searching img{
    position: relative;
    left: -40%;
    height: 100%;
    width: auto;
}


.div-login{
    min-height: 48rem;
    position: relative;
}

.form-group{
    text-align: left;
}

.form-login{
    position: absolute;
    visibility: visible;
}

.form-register{
    position: absolute;
    visibility: hidden;
}

/*---------- Estilos de Validacion -------------------*/

.is-valid{
    border-color: #3A98B9 !important;
}
  
.was-validated :valid:focus {
    border-color: #3A98B9 !important; 
    box-shadow: 0 0 0 0.25rem rgb(72, 159, 191) !important; 
}

.is-invalid {
    border-color: #8e44ad !important; 
}
  
  .was-validated :invalid:focus {
    border-color: #8e44ad !important; 
    box-shadow: 0 0 0 0.25rem rgba(142, 68, 173, 0.25) !important; /* Cambia el sombreado en foco a morado */
}

.was-validated :valid ~ .valid-feedback {
    color: #3A98B9; 
}

.was-validated :invalid ~ .invalid-feedback {
    color: #8e44ad;
}

.little-text{
    color: #837060;
    text-decoration: none;
}


@media (max-width: 600px) {
    .dog-searching {
      display: none;
    }
  }
