main {
    background-image: url(/assets/img/login-register/dog-computer-searching.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(80vh + 1vw);
}

#view-recover-section {
    text-decoration: none;
    color: var(--blue);
    font-size: calc(1rem + 1vw);
    transition: all 0.25s;
}

#view-recover-section:hover {
    color: var(--purple);
    transform: scale(1.1);
}

#view-recover-section:active {
    transform: scale(1);
}