@keyframes fadeIn {
    from {
         opacity: 0;
         transform: scale(0);
    }

    to {
         opacity: 1;
         transform: scale(1);
    }
}

#slide {
    display: none;
}

#slide.show {
    display: block;
}

/* Cards Styles */

.card {
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05) perspective(0px);
    box-shadow: 0 0 1rem var(--brown);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card-img-top {
    width: 100%;
    height: calc(5rem + 10vw);
    object-fit: contain;
}

.card-header {
    font-size: calc(1.5rem + 0.5vw);
    display: inline-block;
}

.card-body {
    font-size: calc(1rem + 0.5vw);
}

.card-customizable {
    background-color: var(--beige) !important;
    color: var(--brown);
}

.text-brown {
    color: var(--brown);
}

button a {
    text-decoration: none;
    color: var(--gray);
}

.product-edit-icon {
    position: absolute;
    top: 0;
    right: -40%;
    color: var(--blue);
    transition: all 0.25s;
}

.product-edit-icon:hover {
    color: var(--purple);
    transform: scale(1.1);
}

.product-edit-icon:active {
    transform: scale(1);
}

.bi-pencil-square {
    font-size: calc(2rem + 0.5vw);
}

/* Loading animation */

#loading-anim {
    fill: var(--blue);
    color: var(--blue);
}

/* Checkboxes */

.form-check-input {
    background-color: var(--brown);
}

.form-check-input:checked {
    background-color: var(--purple);
}