@keyframes fadeIn {
    from {
         opacity: 0;
         transform: scale(0);
    }

    to {
         opacity: 1;
         transform: scale(1);
    }
}

#slide {
    display: none;
}

#slide.show {
    display: block;
    animation: fadeIn 0.5s;
}

/* Cards Styles */

.card {
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05) perspective(0px);
    box-shadow: 0 0 1rem var(--brown);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card-img-top {
    width: 100%;
    height: calc(5rem + 10vw);
    object-fit: contain;
}

.card-header {
    font-size: calc(1.5rem + 0.5vw);
}

.card-body {
    font-size: calc(1rem + 0.5vw);
}

.card-customizable {
    background-color: var(--beige) !important;
    color: var(--brown);
}

.text-brown {
    color: var(--brown);
}

button a {
    text-decoration: none;
    color: var(--gray);
}

/* Loading animation */

#loading-anim {
    fill: var(--blue);
    color: var(--blue);
}