.form-container {
  background-color: var(--beige);
  border: 0.25rem solid var(--brown);
  border-radius: 1rem;
}

.form-group {
  text-align: left;
}

.icon {
  height: 80px;
}

/* Scroll Section */
.container {
  height: 100vh;
}

.fixed-section {
  width: 300px;
  height: 100vh;
  background-color: #f1f1f1;
}

.scrollable-section {
  flex: 1;
  overflow-y: scroll;
}

/* Ocultar barras de navegación al hacer scroll */
.scrollable-section::-webkit-scrollbar {
  display: none;
}

.scrollable-section {
  scrollbar-width: none;
}

/* Contenedores Productos Personalizables */
/* #material-container{
    visibility: hidden;

}
 */

 #material{
    background-color: var(--beige);
    border: 0.25rem solid var(--brown);
    border-radius: 1rem;
 }


.image-preview {
  width: 400px;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #BDA692; 
}

.image-preview__image{
  display: none;
  width: 100%;
}

.fieldset-left {
  float:left;
}
.fieldset-right {
  float:right;
}
/* 
.row-flex{
  display: flex;
  justify-content: center;
  flex-direction: column;
} */