.form-container {
  background-color: var(--beige);
  border: 0.25rem solid var(--brown);
  border-radius: 1rem;
}

.form-group {
  text-align: left;
}

.icon {
  height: calc(2rem + 5vw);
}

.image-preview {
  border: 0.25rem solid var(--brown);
  border-radius: 1rem;
  height: calc(10rem + 25vw);
}

.image-preview__image{
  display: none;
  object-fit: contain;
}

.custom-text {
  color: var(--brown);
  word-wrap: break-word;
}

/* Select */

#product-form-category {
  transition: all 0.25s;
  border: 0.25rem solid var(--brown);
  border-radius: 0.75rem;
  font-size: calc(0.75rem + 0.75vw);
}

input[type="radio"] {
  display: none;
}

.image-radio input[type="radio"]:checked + label {
  filter: brightness(1000%) grayscale(100%) opacity(0.1)
    drop-shadow(0 0 0 var(--purple)) drop-shadow(0 0 0 var(--purple)) 
    drop-shadow(0 0 0 var(--purple)) drop-shadow(0 0 0 var(--purple))
    drop-shadow(0 0 0 var(--purple));
}

.is-not-selected {
    transition: all 0.25s;
}

.is-not-selected:hover {
    transform: scale(1.1);
}

.is-not-selected:active {
    transform: scale(1);
}