.scrollable-section {
  flex: 1;
  overflow-y: scroll;

  /* Oculta las barras de desplazamiento en navegadores que soportan la propiedad scrollbar-width */
  scrollbar-width: none; 
}

/* Oculta las barras de desplazamiento en navegadores webkit */
.scrollable-section::-webkit-scrollbar {
  display: none;
}

.bg-beige {
  padding: calc(0.5rem + 1vw);
}

#product-quantity {
  background-color: var(--gray);
}

.container {
  height: calc(100vh + 10vw);
}

/* Img styles */

img {
  object-fit: contain;
}

.img-ratio {
  aspect-ratio: 3/2;
}

#product-custome-container {
  position: relative;
  top: 0;
  left: 0;
}

:root { /* Variables changed dinamically with js */
  --head-top: 5%;
  --head-right: 10%;
  --body-top: 5%;
  --body-right: 30%;
}

#product-head {
  position: absolute;
  top: var(--head-top);
  right: var(--head-right);
}

#product-body {
  position: absolute;
  top: var(--body-top);
  right: var(--body-right);
}

#product-custome {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 21vw;
  padding: 5vw 5vw 0 5vw;
}

/* Material Category */

.is-selected {
  color: var(--purple);
  border: 5px solid var(--purple);
  border-radius: 1rem;
}

.is-not-selected:hover {
  color: var(--blue);
  border: 5px solid var(--blue);
  border-radius: 1rem;
}

.is-selected-text {
  color: var(--purple);
}

.is-not-selected-text {
  transition: all 0.25s;
}

.is-not-selected-text:hover {
  color: var(--blue);
  transform: scale(1.1);
}

.is-not-selected-text:active {
  transform: scale(1);
}

/* Color and theme categories */

:root { /* Variables changed dinamically with js */
  --color-picker: none; 
  --img-mask: none;
  --color-filter: none; 
  --bg-image: none;
}

#product-img-div {
  position: relative;  
}

#product-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: hue;  

  /* Color category */
  background-color: var(--color-picker);

  /* Pattern or theme category */
  background-image: var(--bg-image);
  background-size: 25%;
  filter: var(--color-filter);

  /* Applying color and pattern only in the image */
  -webkit-mask-image: var(--img-mask);
  mask-image: var(--img-mask);  
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* Nameplate pet data styles */

#product-nameplate-name,
#product-nameplate-phone,
#product-bowl-name {
  position: relative;
  text-align: center;
  color: var(--gray);
}

#product-nameplate-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(0.1rem + 3vw);
}

#product-bowl-name {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(0.1rem + 4vw);
}

#product-nameplate-phone {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(0.1rem + 2vw);
}
#product-description {
  font-family: 'Signika Negative', sans-serif;
  white-space: pre-wrap;
  text-align: justify;
  background-color: var(--beige);
  border: 0.25rem solid var(--brown);
  border-radius: 1rem;
  font-size: calc(0.75rem + 1vw);
}
#product-img-not-customizable {
  background-color: var(--beige);
  border: 0.25rem solid var(--brown);
  border-radius: 1rem; 
}