main {
    background-image: url(../img/profile/dog-on-computer.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(80vh + 1vw);
}

h2 {
    color: var(--brown);
}

.btn-pencil {
    color: var(--blue);
    transition: all 0.25s;
    border: none;
}

.btn-pencil:hover {
    color: var(--purple);
    transform: scale(1.1);
}

.btn-pencil:active {
    transform: scale(1);
}

.bi-pencil-square {
    font-size: calc(1rem + 2vw);
}

.bi-check-circle {
    font-size: calc(1.5rem + 2vw);
}

.form-view {
    background-color: var(--beige);
    border: none;
    outline: none;
    width: 100%;
    pointer-events: none;
}

.form-control {
    font-size: calc(0.5rem + 1.5vw);
}

.input-container {
    display: flex;
    justify-items: center;
}

.pop--hidden{
    display: none;
  }


  .pop--unhidden{
    display: flex;
  }

    #delete-user-container {
    position: fixed;
    width: 100%;
    background: rgb(114,15,176);
    background: radial-gradient(circle, rgba(114, 15, 176, 0) 0%, rgba(0,0,0,0.48923319327731096) 86%);
    height: 100%;
    z-index: 6;
    backdrop-filter: blur(3px);
    padding-top: auto;
    padding-bottom: auto;
}   

input {
    color: var(--black);
}

input::placeholder {
    color: var(--black);
}


