main{
    background-image: url(../img/profile/dog-on-computer.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}

.custom-form {
    max-width: 600em;
    max-height: 200em;
    margin: 0 auto;
}

body {
    margin: 0;
    padding-bottom: 0;
}

.was-validated :valid {
    border-color: #3A98B9 !important;
}
  
.was-validated :valid:focus {
    border-color: #3A98B9 !important; 
    box-shadow: 0 0 0 0.25rem rgb(72, 159, 191) !important; 
}

.was-validated :invalid {
    border-color: #8e44ad !important; 
}
  
  .was-validated :invalid:focus {
    border-color: #8e44ad !important; 
    box-shadow: 0 0 0 0.25rem rgba(142, 68, 173, 0.25) !important; /* Cambia el sombreado en foco a morado */
}

.was-validated :valid ~ .valid-feedback {
    color: #3A98B9; 
}

.was-validated :invalid ~ .invalid-feedback {
    color: #8e44ad;
}
