.product-box{
    /*background-color: brown;*/
    min-height: 280px;
    max-width: 84%;
    margin-left: auto;
    margin-right: auto;
}

.container-button-delete{
  position: absolute;
}

.container-button-delete img{
  width: 1.9em;
}

/* Estos estilos corresponden a los botones
y disposición de los mismos para que sea responsivo
*/

ion-icon {
    color: #73628A;
    font-size: 35px;
  }

 .cantidadproductos {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .cantidadproductos p{
    margin: auto 0.2rem auto 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.655);
    border-radius: 3px;
  }
  
  .button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
@media screen and (max-width: 768px) {
    .button-icon {
      padding: 3px;
    }
    
    .number-display {
      padding: 0 10px;
    }

    .products-container{
      height: 42vh;
      overflow: scroll;
    }

    .descriptioncontainer, .ver-mas{
      display: none;
    }
    
  }

  
  /* Imagenes del producto */
  .product-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .productimage {
    width: 100%;
    object-fit: cover;
  }


  @media (max-width: 768px) {
    .productimage {
      width: auto;
      height: auto;
      object-fit: contain;
      object-position: center;
      max-height: 100px; /* Ajusta este valor según tus necesidades */
      display: block;
      margin-left: auto;
      margin-right: auto;}
    }

    .productimagecontainer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /* ver mas y ver menos */
    .descriptioncontainer{
      position: relative;
      overflow: hidden !important;
      height: 8rem;
    }
    
    .description {
      text-overflow: ellipsis !important;
      word-break: break-word !important;

    }

  .description-gradient{
      top: 0;
      height: inherit;
      width: 100%;
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,0) 52%, rgba(255,241,220,1) 88%);
      position: absolute;
    }
 
    .show-description {
      height: auto;
    }
    
    .hide-description {
      height: 8rem;

    }
    
    .ver-mas {
      color: var(--purple); /* Cambia el color a tu preferencia */
      text-decoration: underline; /* Agrega decoración de subrayado o personalízala */
      cursor: pointer; /* Cambia el cursor al estilo "puntero" al pasar el ratón sobre él */
    }

    @media screen and (min-width: 992px) {
      
      .errorcat {
          width: 500px;
          height: 300px;
      }
  }