.container-fluid{
  height: 100%;
}

/* main h2 {
  color: black !important;
} */

/* Products not customizable */

.container-button-delete{
  position: absolute;
}

.container-button-delete img {
  width: 1.9em;
}

/* Estos estilos corresponden a los botones
y disposición de los mismos para que sea responsivo
*/

 .cantidadproductos {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .cantidadproductos p{
    margin: auto 0.2rem auto 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  
@media screen and (max-width: 768px) {
    .number-display {
      padding: 0 10px;
    }

    .products-container{
      height: 42vh;
      overflow: scroll;
      overflow-x: hidden;
    }

    .descriptioncontainer, .ver-mas{
      display: none;
    }
    
  }

  
  /* Imagenes del producto */
  .product-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .productimage {
    width: 100%;
    object-fit: cover;
  }


  @media (max-width: 768px) {
    .productimage {
      width: auto;
      height: auto;
      object-fit: contain;
      object-position: center;
      max-height: 100px; /* Ajusta este valor según tus necesidades */
      display: block;
      margin-left: auto;
      margin-right: auto;}
    }

    .productimagecontainer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /* ver mas y ver menos */
    .descriptioncontainer{
      position: relative;
      overflow: hidden !important;
      height: 8rem;
    }
    
    .description {
      text-overflow: ellipsis !important;
      word-break: break-word !important;

    }

  .description-gradient{
      width: 100%;
      background: var(--white);
    }
 
    .show-description {
      height: auto;
    }
    
    .hide-description {
      height: 8rem;

    }
    
    .ver-mas {
      color: var(--brown); /* Cambia el color a tu preferencia */
      text-decoration: underline; /* Agrega decoración de subrayado o personalízala */
      cursor: pointer; /* Cambia el cursor al estilo "puntero" al pasar el ratón sobre él */
    }
      
    .errorcat {
        width: calc(5rem + 40vw);
        height: auto;
    }

  /* Contenedor de los botones */

  
  /* Tamaño del contenedor de botones */
    .not-register-form-container{
      position: fixed;
      width: 100%;
      background: var(--purple);
      background: radial-gradient(circle, rgba(114, 15, 176, 0) 0%, rgba(0,0,0,0.48923319327731096) 86%);
      height: 100%;
      z-index: 6;
      backdrop-filter: blur(3px);
      padding-top: auto;
      padding-bottom: auto;
    }

    .pop--hidden{
      display: none;
    }

    .pop--unhidden{
      display: flex;
    }

/* Button animations */

.cantidadproductos .btn-blue {
    padding: 0.1rem 1.25rem;
}

.container-button-delete img {
    transition: all 0.25s;
}

.container-button-delete img:hover {
    transform: scale(1.1);
    cursor: var(--cursor-click), auto;
}

.container-button-delete img:active {
    transform: scale(1);
}